#banner_container{
    background: url(../../../img_resource/background_resources/banner.jpg) no-repeat center center,#27253cc4;
    background-size: cover;
    background-blend-mode: overlay;
}


.offer_container{
    border: 15px solid rgba(128, 128, 128, 0.355);
    border-left: 15px solid hsl(28, 100%, 52%);
    border-right: 15px solid white;
    animation-name: offer;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}
.offer_container .offer_content{
    animation-name: offer_content;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

@keyframes offer_content {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes offer{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* single components animation. */

#tomato,#tomatoSlice{
    transform: scale(0.7);
}

#tomato,#tomatoSlice,#twosliceTomato,#mint,#pudina,#capsicum{
   
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

#pudina{
    animation-name: pudina;
    animation-duration: 20s;
}
#tomato{
    animation-name: roundTomato;
}
#tomatoSlice{
    animation-name: tomatoSlice;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
}
#twosliceTomato,#mint{
    animation-name: twoSliceTomato;
    animation-duration: 10s;
    animation-direction:alternate-reverse ;
}
#mint{
    animation-name: mint;
}
#capsicum{
    animation-name: capsicum;
    animation-duration: 100s;
    animation-direction: alternate-reverse;
}

@keyframes capsicum {
    0%{
        left: 60px;
        transform: rotate(0deg);
    }
    100%{
        left: 1400px;
        transform: rotate(360deg);
       
    }
}
@keyframes roundTomato {
    0%{
        transform: rotate(0deg) scale(0.7);
    }
    100%{
        transform: rotate(360deg) scale(0.7);
       
    }
}
@keyframes pudina {
    0%{
        transform: rotate(0deg) scale(0.7);
    }
    100%{
        transform: rotate(360deg) scale(0.7);
       
    }
}
@keyframes tomatoSlice {
    0%{
        transform: translate(20px,0) scale(0.7);
    }
    100%{
        transform: translate(-20px,0) scale(0.7);
       
    }
}
@keyframes mint {
    0%{
        transform: translate(20px,0) scale(0.7);
    }
    100%{
        transform: translate(-20px,0) scale(0.7);
       
    }
}
@keyframes twoSliceTomato {
    0%{
        transform:   scale(0.7);
    }
    100%{
        transform:   scale(0.5);
       
    }
}